# Index Objects

In [ ]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [ ]:
# Set a Series index to be its own object:
coins = Series([.01,.05,.10,.25],index=['penny','nickel','dime','quarter'])
coin_index = coins.
coin_index

In [ ]:
coin_index[2] #returns 'dime'
# Note: Indexes are immutable (coin_index[2]='fred' is not valid code)

In [3]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
#Show
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
from numpy.random import randn
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A -0.334895 -1.254430 -2.806736  0.877299 -2.331020
B -0.556545 -0.376687 -0.695033 -1.016130 -0.445602
D -0.634144 -0.587499  1.133683  0.506941 -0.065729
E -1.046990  1.981345 -1.891138 -0.200249 -0.912596
F -1.565139 -0.019950  0.107877 -0.074175 -0.696413

In [11]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [12]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.334895 -1.254430 -2.806736  0.877299 -2.331020   NaN
B -0.556545 -0.376687 -0.695033 -1.016130 -0.445602   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.634144 -0.587499  1.133683  0.506941 -0.065729   NaN
E -1.046990  1.981345 -1.891138 -0.200249 -0.912596   NaN
F -1.565139 -0.019950  0.107877 -0.074175 -0.696413   NaN

In [ ]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

In [ ]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

# Reindexing

In [ ]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [ ]:
#Show
ser1

In [ ]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [ ]:
#Show
ser2

In [ ]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

In [ ]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

In [ ]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

In [ ]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

In [ ]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

# Drop entry

In [13]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)), index = ['NY', 'SF', 'LA'], columns=['pop', 'size', 'area'])
dframe1

    pop  size  area
NY    0     1     2
SF    3     4     5
LA    6     7     8

In [14]:
#Dropping a row
dframe1.drop('SF' )

    pop  size  area
NY    0     1     2
LA    6     7     8

In [15]:
#dropping a column
dframe1.drop('area', axis=1)

    pop  size
NY    0     1
SF    3     4
LA    6     7

In [16]:
#selecting entries

In [17]:
dframe1[['pop','area']]

    pop  area
NY    0     2
SF    3     5
LA    6     8

In [18]:
dframe1[dframe1['pop']>5]

    pop  size  area
LA    6     7     8